body {
  background: #fff3dd;
}

canvas {
  border: 1px solid black;
  /* width: 100%; */
  /* height: 100%; */
}

.root {
  position: relative;
}

.controls {
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  padding: 10px;
  width: 20%;
}
